<!--smsUI/templates/personalHome.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Developer' }}!
<br>
Here your profile info
<br>

<div>
	{% if user.is_authenticated %}
		<!-- Display user informations -->
		Location: {{skills_list.0.user_profile.location}}
		<br>
		Bio: {{skills_list.0.user_profile.bio}}
		<br>
		<!-- Display skills list -->
		<ul>
		{% for skill in skills_list %}
		<!-- Display only usefull informations -->
			{% if skill.familiarity != 0 %}
				<li>{{ skill.skill_element.skill_set.skills_set_name }}</li>
				<li>{{ skill.skill_element.skill_element_name }}</li>
				<li>{{ skill.familiarity }}</li>
			{% endif %}
		{% endfor %}
		</ul>
		<a href="{% url 'logout' %}">Logout</a>
		<br>
		<a href="{% url 'password_change' %}">Change password</a>
	{% else %}
		<a href="{% url 'login' %}">Login</a>
	{% endif %}
</div>

{% endblock %}
