<!--smsUI/templates/personalHome.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Developer' }}!


<div>
	{% if user.is_authenticated %}
		<!-- Display user informations -->
		Location: {{profile.location}}
		<br>
		Bio: {{profile.bio}}
		<br>
		<!-- Display skills list -->
		<ul>
		{% for skill in PersonalSkills.objects.filter(user_profile=profile) %}
		<!-- Display only usefull informations -->
			{% if skill.familiarity != 0 %}
				<li>{{ skill.skill_element.skill_set.name }}</li>
				<li>{{ skill.skill_element.name }}</li>
				<li>{{ skill.familiarity }}</li>
			{% endif %}
		{% endfor %}
		</ul>
		<a href="{% url 'logout' %}">Logout</a>
		<br>
		<a href="{% url 'password_change' %}">Change password</a>
	{% else %}
		<a href="{% url 'login' %}">Login</a>
	{% endif %}
</div>

{% endblock %}
